Repository BustByte/coronastatus, changes with the owners that CODEOWNERS names for each.
All owners: @fossecode, @sbocinec, @Kilian, @michaelmcmillan, @Snikanes

CODEOWNERS:

* @fossecode
/app/countrySpecific/sk-* @sbocinec
/app/locales/nl.json @Kilian
/app/locales/no.json @michaelmcmillan
/app/locales/sk*.json @sbocinec
/app/repository/ @Snikanes
/app/views/ @fossecode
/app/views/privacy-statements/sk-privacy-statement.ejs @sbocinec
/ops/sk/ @sbocinec
/static/no/ @fossecode
/static/nl/ @Kilian

Change py-2 to py-3 on postal code and temperature field.
  app/views/pages/report.ejs
Owners: @fossecode

* Rename ms-MY to en-MY as it makes more sense to do this. * Added translation lines for #345
  app/locales/en-MY.json
Owners: @fossecode

Turkish translations and social images
  app/locales/tr.json
  app/views/pages/contributors.ejs
  app/views/privacy-statements/tr-privacy-statement.ejs
  config-examples/tr-config.json
  static/tr/banner.png
  static/tr/social-media.png
  static/tr/twitter-header.png
Owners: @fossecode

Update Age field with classes
  app/views/pages/report.ejs
Owners: @fossecode

Add box-shadow to radio and checkboxes on focus
  static/app.css
Owners: @fossecode

Turkish translations and social images (#487)
  app/locales/tr.json
  app/views/pages/contributors.ejs
  app/views/privacy-statements/tr-privacy-statement.ejs
  config-examples/tr-config.json
  static/tr/banner.png
  static/tr/social-media.png
  static/tr/twitter-header.png
Owners: @fossecode

* Rename ms-MY to en-MY as it makes more sense to do this. (#486)
  app/locales/en-MY.json
Owners: @fossecode

Update flags.ts
  app/domain/flags.ts
Owners: @fossecode

Update flags.ts (#488)
  app/domain/flags.ts
Owners: @fossecode

fixed wrong postalCodes for usa which messed up markers on the map
  app/countrySpecific/us-municipalities.json
  app/countrySpecific/us-postalCodeCoordinates.json
Owners: @fossecode

fixed wrong postalCodes for usa which messed up markers on the map (#489)
  app/countrySpecific/us-municipalities.json
  app/countrySpecific/us-postalCodeCoordinates.json
Owners: @fossecode

Implement Flatpickr
  app/views/pages/report.ejs
  app/views/partials/head.ejs
  static/app.css
  static/form.js
Owners: @fossecode

Change flatpickr init to report.ejs
  app/views/pages/report.ejs
  static/form.js
Owners: @fossecode

Host flatpickr to cdn.coronastatus.eu
  app/views/pages/report.ejs
  app/views/partials/head.ejs
Owners: @fossecode

Add formatting to flatpickr. Formatting can be defined in locales/xx.json
  app/views/pages/report.ejs
Owners: @fossecode

Add Lithuania
  ops/readme.md
Owners: @fossecode

Minor updates and modifications + Ops for coronastatus.ca (Closes #425)
  app/locales/en-CA.json
  app/views/privacy-statements/ca-privacy-statement.ejs
  config-examples/ca-config.json
  ops/ca/README.md
  ops/ca/nginx-site-default.example
  ops/ca/pm2.example.json
  ops/readme.md
Owners: @fossecode

Fix a typo
  ops/ca/README.md
Owners: @fossecode

Sort translation files by keys
  app/locales/bd.json
  app/locales/ca.json
  app/locales/dk.json
  app/locales/en-AU.json
  app/locales/en-IN.json
  app/locales/en-MT.json
  app/locales/en-MY.json
  app/locales/en-NG.json
  app/locales/en-SG.json
  app/locales/en-US.json
  app/locales/en.json
  app/locales/es-AR.json
  app/locales/es-CL.json
  app/locales/es-CO.json
  app/locales/es-ES.json
  app/locales/es-MX.json
  app/locales/fr-FR.json
  app/locales/it.json
  app/locales/nl.json
  app/locales/no.json
  app/locales/pt-BR.json
  app/locales/pt-PT.json
  app/locales/se.json
  app/locales/sk.json
  app/locales/tr.json
  app/locales/uk-UA.json
Owners: @fossecode, @Kilian, @michaelmcmillan, @sbocinec

Create lt.json
  app/locales/lt.json
Owners: @fossecode

Lithuanian postal codes/coordinates
  app/countrySpecific/lt-municipalities.json
  app/countrySpecific/lt-postalCodeCoordinates.json
  app/locales/lt.json
Owners: @fossecode

Added lithuanian url
  app/domain/urls.ts
Owners: @fossecode

Add lithuanian flag
  app/domain/flags.ts
Owners: @fossecode

added lt-config, corrected no-config
  config-examples/lt-config.json
  config-examples/no-config.json
Owners: @fossecode

Revert "added lt-config, corrected no-config"
  config-examples/lt-config.json
  config-examples/no-config.json
Owners: @fossecode

Revert "Revert "added lt-config, corrected no-config""
  config-examples/lt-config.json
  config-examples/no-config.json
Owners: @fossecode

corrected typo
  app/views/privacy-statements/en-privacy-statement.ejs
Owners: @fossecode

Form design tweaks (#428)
  app/views/pages/report.ejs
  static/app.css
Owners: @fossecode

Create lt-privacy-statement.ejs
  app/views/privacy-statements/lt-privacy-statement.ejs
Owners: @fossecode

Create lt-word-list.txt
  app/countrySpecific/lt-word-list.txt
Owners: @fossecode

Implement Flatpickr (#491)
  app/views/pages/report.ejs
  app/views/partials/head.ejs
  static/app.css
Owners: @fossecode

Add date format for NL
  app/locales/nl.json
Owners: @Kilian

coronastatus for nepal
  .vscode/settings.json
  app/domain/urls.ts
  app/locales/ne.json
  app/views/privacy-statements/np-privacy-statement.ejs
Owners: @fossecode

update with correct postcode
  app/countrySpecific/np-municipalities.json
  app/countrySpecific/np-postalCodeCoordinates.json
  app/countrySpecific/np-word-list.txt
Owners: @fossecode

Sort all translation files by keys (#493)
  app/locales/bd.json
  app/locales/ca.json
  app/locales/dk.json
  app/locales/en-AU.json
  app/locales/en-IN.json
  app/locales/en-MT.json
  app/locales/en-MY.json
  app/locales/en-NG.json
  app/locales/en-SG.json
  app/locales/en-US.json
  app/locales/en.json
  app/locales/es-AR.json
  app/locales/es-CL.json
  app/locales/es-CO.json
  app/locales/es-ES.json
  app/locales/es-MX.json
  app/locales/fr-FR.json
  app/locales/it.json
  app/locales/nl.json
  app/locales/no.json
  app/locales/pt-BR.json
  app/locales/pt-PT.json
  app/locales/se.json
  app/locales/sk.json
  app/locales/tr.json
  app/locales/uk-UA.json
Owners: @fossecode, @Kilian, @michaelmcmillan, @sbocinec

improved language
  app/locales/lt.json
  config-examples/lt-config.json
Owners: @fossecode

created social media banner
  static/lt/banner.png
  static/lt/social-media.png
  static/lt/twitter-header.png
Owners: @fossecode

Update lt.json
  app/locales/lt.json
Owners: @fossecode

Add Lithuanian website (#499)
  app/countrySpecific/lt-municipalities.json
  app/countrySpecific/lt-postalCodeCoordinates.json
  app/countrySpecific/lt-word-list.txt
  app/domain/flags.ts
  app/domain/urls.ts
  app/locales/lt.json
  app/views/privacy-statements/en-privacy-statement.ejs
  app/views/privacy-statements/lt-privacy-statement.ejs
  config-examples/lt-config.json
  config-examples/no-config.json
  ops/readme.md
  static/lt/banner.png
  static/lt/social-media.png
  static/lt/twitter-header.png
Owners: @fossecode

Update pt-privacy-statement.ejs
  app/views/privacy-statements/pt-privacy-statement.ejs
Owners: @fossecode
