Repository BustByte/coronastatus, changes with the owners that CODEOWNERS names for each.
All owners: @fossecode, @Kilian, @michaelmcmillan, @Snikanes

CODEOWNERS:

* @fossecode
/static/no/ @fossecode
/static/nl/ @Kilian
/app/locales/ @Kilian
/app/locales/no.json @michaelmcmillan
*.md @michaelmcmillan
/app/repository/ @Snikanes
/app/views/ @fossecode

add 404, 500 and confirm-profile page translations (#177)
  app/locales/en.json
  app/locales/nl.json
  app/locales/no.json
  app/views/pages/confirm-profile.ejs
Owners: @Kilian, @michaelmcmillan, @fossecode

add frillige translations
  app/locales/en.json
  app/locales/nl.json
  app/locales/no.json
  app/views/pages/frivillige.ejs
Owners: @Kilian, @michaelmcmillan, @fossecode

add head, update helenorge, map, frivillige and confirm profile, rebased on master
  app/locales/en.json
  app/locales/nl.json
  app/locales/no.json
  app/views/pages/confirm-profile.ejs
  app/views/pages/frivillige.ejs
  app/views/pages/helsenorge.ejs
  app/views/pages/map.ejs
  app/views/partials/head.ejs
Owners: @Kilian, @michaelmcmillan, @fossecode

added footer transaltions
  app/locales/en.json
  app/locales/nl.json
  app/locales/no.json
  app/views/partials/footer.ejs
Owners: @Kilian, @michaelmcmillan, @fossecode

added trailing ,
  app/locales/nl.json
  app/locales/no.json
Owners: @Kilian, @michaelmcmillan

Translations for helsenorge (nhs) page.
  app/locales/en.json
  app/locales/nl.json
  app/locales/no.json
  app/views/pages/helsenorge.ejs
Owners: @Kilian, @michaelmcmillan, @fossecode

use locals value for title in head
  app/views/partials/head.ejs
Owners: @fossecode

Translations for map page (including locales).
  app/locales/en.json
  app/locales/nl.json
  app/locales/no.json
  app/views/pages/map.ejs
Owners: @Kilian, @michaelmcmillan, @fossecode

add report and disclaimer by @zacel
  app/locales/en.json
  app/locales/nl.json
  app/locales/no.json
  app/views/pages/report.ejs
  app/views/partials/disclaimer.ejs
Owners: @Kilian, @michaelmcmillan, @fossecode

add translations to statistics page thanks to @jelzabi
  app/locales/en.json
  app/locales/nl.json
  app/locales/no.json
  app/views/pages/statistics.ejs
Owners: @Kilian, @michaelmcmillan, @fossecode

be clear in english we also mean Sex, not gender. re #202
  app/locales/en.json
Owners: @Kilian

add translations for menu and privacy policy
  app/locales/en.json
  app/locales/nl.json
  app/locales/no.json
  app/views/pages/privacy-policy.ejs
  app/views/partials/hamburger-menu.ejs
  app/views/partials/menu.ejs
Owners: @Kilian, @michaelmcmillan, @fossecode

lint and format all locale files
  app/locales/en.json
  app/locales/nl.json
  app/locales/no.json
Owners: @Kilian, @michaelmcmillan

added municipalities with zip codes for NL
  app/locales/nl-municipalities.json
Owners: @Kilian
